@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 100% 99.8%;
    --card-background: 10 14% 95%;
    --btn-background: 25, 100%, 62%;
    --btn-background-hover:25, 100%, 70%;
    --foreground: 200 50% 3%;
  }

  /* @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  } */
}

@layer base {
  * {
    @apply border-foreground/20;
  }
  button {
    @apply bg-btn-background hover:bg-btn-background-hover;
  }
  card{
    background-color: (var(--card-background));
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
